pipeline/untilloop.json
{
	"name": "untilloop",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(variables('j'), pipeline().parameters.Number)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "i",
								"value": {
									"value": "@add(variables('j'), 1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "j",
								"value": {
									"value": "@variables('i')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"Number": {
				"type": "int",
				"defaultValue": 10
			}
		},
		"variables": {
			"i": {
				"type": "Integer",
				"defaultValue": 1
			},
			"j": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-26T06:58:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}